.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  height: 95vh;
  position: relative;
  user-select: none;
}

.App .header{
  width: 100%;
  background-color: #1E376D;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .cells{
  display: grid;
  grid-template-columns: 18% 56% 24%;
  grid-gap: 1%;
  margin: 15px 0;
  height: 100%;
}

.App .cells .first-col{
  display: grid;
  grid-template-rows: 10% 88%;
  grid-template-columns: 99%;
  grid-row-gap: 2%;
}

.App .cells .scnd-col{
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.App .cells .scnd-col .cells{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  flex: 1;
}

.App .cells .scnd-col .scnd-col-scnd-row{
  background-color: #222;
  border: 1px #444 solid;
  width: 100%;
  height: 100%;
  flex: 5;
}

.App .cells .third-col{
  display: grid;
  grid-template-columns: 99%;
  grid-template-rows: 100%;
  grid-column-gap: 1%;
}

.App .cells .cell div p{
  font-size: 1.8vw;
  margin: 0;
}

.App .cells .cell div p:first-child{
  font-size: 0.9vw;
  margin-top: 5px;
}

.App .cells .cell{
  background-color: #222;
  border: 1px #444 solid;
  width: 100%;
  height: 100%;
  color: white;
  min-height: 60px;
}

.App .cells .cell .third-col-body .loadings{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App .cells .cell .third-col-body .loadings .img-container{
  width: 100%;
}

.App .cells .cell .third-col-body .loadings .img-container .img{
  width: 90%;
}

.App .cells .cell .data-container{
  margin-top: 20px;
  height: 60vh;
  overflow-y: scroll;
  position: relative;
  text-align: left;
  padding-left: 10px;
}

.App .cells .cell .data-container .data .state{
  font-size: 1.2rem;
}

.App .cells .cell .data-container .data .cases,
.App .cells .cell .data-container .data .deaths,
.App .cells .cell .data-container .data .vaccines
{
  font-size: 0.9rem;
}

.App .cells .cell .data-container .data .cases{
  color: red;
}

.App .cells .cell .data-container::-webkit-scrollbar {
  display: block;
  width: 15px;
}
.App .cells .cell .data-container::-webkit-scrollbar-track {
  background: transparent;
}
  
.App .cells .cell .data-container::-webkit-scrollbar-thumb {
  background-color: gray;
  border-right: none;
  border-left: none;
}

.App .cells .cell .data-container::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.App .cells .cell .data-container::-webkit-scrollbar-track-piece:start {
  background: transparent;
}
